@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam&family=Quicksand:wght@500&display=swap");

.logo {
  float: left;
  font-family: "Anek Latin", sans-serif;
  margin-left: 20px;
  margin-top: 26px;
  color: rgb(42, 210, 252);
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  margin-right: 15px;
}
li {
  margin-top: 15px;
  float: right;
  position: relative;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  font-family: "Anek Malayalam", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:after,
li:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}

li:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
}

li:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
}

li:hover::before,
li:hover::after {
  width: 10px;
  height: 10px;
  border-color: rgba(49, 210, 250, 0.774);
}
li a:hover {
  color: rgb(42, 210, 252);
}
